* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background-image: url("./images/abstract-background-beautiful-unique-design-37263623.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    margin-bottom:20px;
    font-size: x-large;
    color: #111010;
    align-items: center;
}

.todo-app {
    max-width: 550px;
    background: rgb(204, 34, 167);
    margin: 100px auto 20px; /* Moved up slightly */
    padding: 40px 30px 70px;
    border-radius: 15px;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: column; /* Changed to column to stack the input fields */
    margin-bottom: 25px;
}

input {
    border: none;
    outline: none;
    background: white;
    padding: 10px;
    margin-bottom: 15px; /* Space between the task and description inputs */
    font-size: large;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 16px 50px;
    border: none;
    outline: none;
    background: #111010;
    color: #f5f5f5;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    align-self: center;
}

ul {
    margin-top: 20px; /* Added space between the button and the to-do list */
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 10px; /* Space between tasks */
}

ul li .task-title {
    font-weight: bold;
}

ul li .task-description {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 60%;
    background-image: url(./images/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(./images/tick.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}

ul li span:hover {
    background: #222020;
}
